                    .content_full {
                        padding: 15px;
                    }
	.short-infobar {
   /* bottom: 0;  */
    box-sizing: border-box;
 
    margin-left: -10px;
    width: 100%;
    padding: 0 15px;
}

.top__slider_div__item {
    width: 240px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 30px 0 0 20px;
    padding: 10 0px 38px;
    background: #3f3f3f;

}


.top__slider_div__item:hover img {
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: none;
}

.top__slider_div__item:hover .overlay {
    display: block;
}


div#top_slider {
    width: 100%;
    position: relative;
    height: 370px;
    overflow: hidden;
}

.top__slider_div__item img {
    width: 100%;
    height: 100%;
}

div#top_slider .owl-item {
    width: 20%;
}

.top__slider_div__item a {
    height: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #ffffff;
}



.top__slider_div__item:hover a:before {
    opacity: 1;
}
.top__slider_div__item > span {
    color: #c8c8c8;
    text-align: center;
    padding: 2px 0px;
    margin: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

span.short-quality {
    font-size: 8px;
    color: #c8c8c8;
    float: right;
    margin-top: 3px;
		height: 0;
    width: 220;
		position: relative;
}
span.short-quality a {
    font-size: 8px;
    color: #c8c8c8;
    float: right;
    margin-top: 3px;
	height: 0;
    width: 0;
    position: relative;
    display: contents;
	position: relative;
    margin-top: 10px;
}

span.short-quality {
    font-size: 8px;
    color: #c8c8c8;
    float: left;
    margin-top: 3px;
}
span.short-quality1 a {
    font-size: 8px;
    color: #c8c8c8;
    float: right;
    margin-top: 3px;
	height: 0;
    width: 0;
    position: relative;
    display: contents;
	position: relative;
    margin-top: 10px;
}

span.short-quality1 {
    font-size: 8px;
    color: #c8c8c8;
    float: left;
    margin-top: 3px;
}
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    z-index: 999999;
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 100%; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
	top: -100;
    /*padding: 0.5em; *//* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
   /* top: 1em;*/ /* Положение подсказки */
	top: -100;
   }
   
     /*Выпадающий список*/
   
   .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* Поле поиска */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Поле поиска, когда он получает фокус/нажал на */
#myInput:focus {outline: 3px solid #ddd;}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}
.hide {display:none; position: absolute; z-index: 1;}

#menu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 5px;
    background-color:#f1f1f1;
    border: #4CAF50;
    border-width: 1px;
  }
#menu li {
    margin: 5px 0;
  }

  .modal {

  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0; top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Чёрный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;/* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #000000;
  width: 80%;/* Может быть больше или меньше, в зависимости от размера экрана */
  color: #000000;
}

