  .MovieCardFace {
    width: 240px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 20px 0 0 20px;
    padding: 0 0px 30px;
    background: #ffffff;
    overflow: hidden; /* Чтобы содержимое не выходило за границы */
    aspect-ratio: 240 / 340; /* Соотношение сторон 240:340 ≈ 0.7059 */
}

.MovesPicFace {
    width: 100%;
    height: 340px;
    object-fit: cover; /* Чтобы изображение заполняло область */
    display: block;
}

.desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px; /* Такая же высота как у изображения */
    background: rgba(255, 255, 255, 0.95); /* Полупрозрачный белый фон */
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Скрываем то, что выходит за границы */
    z-index: 10; /* Чтобы было поверх изображения */
}

.desc.hide {
    display: none;
}

/* Если нужно добавить прокрутку для длинного текста */
.desc.scrollable {
    overflow-y: auto; /* Вертикальная прокрутка при необходимости */
}





/* Затемнение картинки при наведении (опционально) */
.MovieCardFace:hover .MovesPicFace {
    opacity: 0.9;
    transition: opacity 0.3s;
}

  
span.short-quality {
font-size: 30px;
color: #ffffff;
margin-top: 30px;
}

.short-infobar {
bottom: 0;
box-sizing: border-box;
position: absolute;
margin-left: -10px;
width: 100%;
padding: 0 15px;
text-align: center
}
.overlay {
position: absolute;
top: 10px;
right: 0;
color:  #ff0000; 
padding: 0px;
font-size: 20px;
/*display: none;*/
}

.show {
  z-index: 100;
}


.hide {display:none; position: absolute; z-index: 1;}

.bottons{
  width: 40px; 
  height: 40px;
}

.tableStatistic{
  border: 1px;
  font-size: small;
}

.tableStatItogi{
  border: 2px;
  background-color: rgba(204, 203, 203, 0.904);

}


.panel{
  position: fixed; 
  right: 0px;
  top: 0px;
  top: 0;
  width: 100%; /* ширина блока */
  height: 100%; /* высота блока, отступаем сверху и снизу */
  background-color: rgb(221, 221, 221); /* белый фон */
  border-left: 1px solid #ddd; /* граница слева */
  font-size: 30px;
}

.panel select option{
  font-size: 30px;
}

.panel select{
 /* font-size: 30px;*/
  transform: scale(2); 
  margin: 40px;
}

.panel input{
  font-size: 30px;
}
.panel div{
  white-space: nowrap;

}

.panelSlide{
   right: 0px; 
   background-color: rgb(221, 221, 221); 
   text-align: right;
}
.menu-text {
  flex-grow: 1;
  text-align: center;
  margin: 0 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.bottonsU{
  width: 20px; 
  height: 20px;
}


/******------------**/
